.view {
    width: 200px;
    height: 200px;
    margin: 100px;
    perspective: 600px;
}

.dice {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.btnFront {
    transform: rotateY(360deg);
}

.btnRight {
    transform: rotateY(-90deg);
}

.btnBack {
    transform: rotateY(180deg);
}

.btnLeft {
    transform: rotateY(90deg);
}

.btnTop {
    transform: rotateX(-90deg);
}

.btnBottom {
    transform: rotateX(90deg);
}

.diceFace {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 45px;
    border: 2px solid #a00;
}

.front {
    background-color: rgba(255, 0, 0, 0.6);
    transform: rotateY(0deg) translateZ(100px);
}

.right {
    background-color: rgba(0, 255, 0, 0.6);
    transform: rotateY(90deg) translateZ(100px);
}

.back {
    background-color: rgba(255, 255, 0, 0.6);
    transform: rotateY(180deg) translateZ(100px);
}

.left {
    background-color: rgba(255, 0, 255, 0.6);
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    background-color: rgba(0, 255, 255, 0.6);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    background-color: rgba(0, 0, 255, 0.6);
    transform: rotateX(-90deg) translateZ(100px);
}